config.swift
config.*
config*
.DS_Store
*.xcuserstate
*.xcworkspace
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.perspectivev3
DerivedData
.idea/
*.hmap
*.xccheckout
*.pbxproj
Breakpoints_v2.xcbkptlist